
body {
    font-family:  'Source Code Pro', monospace;
}

.navbar-nav {
    float: right;
}

.home-wrapper {
    margin: 0 auto;
    display: block;
}

.home-wrapper h1 {
    transform: rotate(-8deg);
    line-height: 85px;
    font-size: 80px;
    font-family:   'Source Code Pro', monospace;

}

.background-image {
    background-size: contain;
    background-image: url('../images/background.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}


h1 {
    font-family:   'Source Code Pro', monospace;
}

h2 {
    margin-bottom: 30px;
}

.navbar-custom {
    padding: 10px 0px;
}

.logo-container img {
    margin-left: 10px;
    width: 100px;
}

.title {
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 50px;
}

.title-contact {
    line-height: 40px;
    margin-top: 20px;
    font-weight: 200;
}

.find-out-more {
    text-align: center;
}


/*.brochure {
    margin: 0 auto;
    width: 80%;
}*/

h2 {
    font-family:  'Source Code Pro', monospace;
    text-align: center;

}

p {
    font-size: 18px;
}

#contact {
    background: #F5CC00;
}

.img-container {
    width: 100%;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 14%;
    display: block;
}

.image-container {
    margin-bottom: 30px;
}

.image-container img{
    display: block;
    margin: 0 auto;
    width: 100%;
};

.link-heading  {
    font-size: 30px;
}

.link-heading {
    font-size: 30px;
}

.recipes {
    font-size: 18px;
}

.image-container-cocktail img {
    display: block;
    margin: 0 auto;
    width: 100%;

}

.image-container-cocktail {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.cocktail-link {
    text-align: center;
}