@font-face {
    font-family: 'apercu';
    src: url(../fonts/apercu_medium.woff);
}

@font-face {
    font-family: 'akkurat';
    src: url(../fonts/Akkurat-Light.woff);
}

body {
    font-family: 'akkurat';
}

.navbar-nav {
    float: right;
}

.home-wrapper {
    margin: 0 auto;
    display: block;
}

.home-wrapper h1 {
    transform: rotate(-8deg);
    line-height: 85px;
    font-size: 80px;
    font-family: 'apercu', 'Roboto', sans-serif;
    ;
}


h1 {
    font-family: 'apercu';
}

.navbar-custom {
    padding: 10px 0px;
}

.logo-container img {
    margin-left: 10px;
}

.title {
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    margin-bottom: 50px;
}

.title-contact {
    line-height: 40px;
    margin-top: 20px;
    font-weight: 200;
}

.find-out-more {
    text-align: center;
}


/*.brochure {
    margin: 0 auto;
    width: 80%;
}*/

h2 {
    transform: rotate(-8deg);
    font-family: 'apercu', 'Roboto', sans-serif;
    ;
}

p {
    font-size: 18px;
}

#contact {
    background: #F5CC00;
}

.img-container {
    width: 100%;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 14%;
    display: block;
}

.download {
    margin-top: 10%;
    width: 160px;
    height: 40px;
}

.download:hover {
    background: #496174;
    color: #fff;
}

.carousel {
    max-width: 680px;
    height: 400px;
    margin: 0 auto;
}

.carousel .slider-display {
    width: 100%;
}

.carousel .slider-display>div {
    display: block;
    width: 100%;
    height: auto;
    background: none;
    color: white;
}

.carousel .slider-display div img {
    width: 100%;
    height: auto;
}

.slick-slide img {
    width: 89%;
    height: auto;
    display: block;
    margin: 0;
    padding: 5px;
}

#publication {
    display: block;
    margin-bottom: 20%;
    background: #f3f6fa;
}

.lol {
    text-align: center;
}

.lol .download {
    margin-bottom: 3%;
    margin-top: 3%;
}

.nav-buttons {
    padding: 5px;
    margin: 2%;
}

.text-container {
    padding: 2%;
}

@media (max-width: 768px) {
    .home-wrapper {
        margin-bottom: 100px;
        text-align: center;
    }
    .home-wrapper h1 {
        font-size: 70px;
        line-height: 74px;
        width: 100%;
    }
    .brochure {
        width: 70%;
    }
    .img-container {
        width: 80%;
        margin: 0 auto;
    }
    .carousel .slider-display div img {
        width: 80%;
        height: auto;
        margin: auto;
    }
    .slick-slide img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        padding: 5px;
    }
    #publication {
        margin-bottom: 0;
    }
    .carousel {
        height: auto;
    }

    .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 50%;
      width: 90%;
      height: 90%;
      transform: translate3d(-50%, 0, 0);
    }

}